<plugin xmlns="urn:uuid:11cb7a59-9efc-4db3-8f61-50e95d196ad3">
  <name>w3af</name>
  <caption>Web Application Attack and Audit Framework</caption>
  <url>http://w3af.org/</url>

  <params>
    <host>[\w-]+(\.[\w-]+)*</host>
  </params>

  <config>
    <app_name>scanner</app_name>
    <model_name>ScanPlugin</model_name>
    <exec_prefix>/opt/${plugin.name}</exec_prefix>
    <config_dir>/etc/${plugin.name}</config_dir>
    <data_dir>/var/${plugin.name}</data_dir>
    <temp_dir>/tmp/${plugin.name}</temp_dir>
    <exec_file>${config.exec_prefix}/w3af_console</exec_file>
    <script_template_file>${config.config_dir}/script.j2</script_template_file>
    <script_file>${config.temp_dir}/${guid}.w3af.script</script_file>
    <output_file>${config.temp_dir}/${guid}.w3af.xml</script_file>
    <command>${config.exec_file} -s ${config.script_file}</command>
  </config>

  <templates>
    <template name="script" src="script.j2" filename="${config.script_file}">
      <var name="output_file">${config.output_file}</var>
      <var name="url">http://${params.host}/</var>
    </template>
  </templates>

  <models>
    <model xml:id="scanner.ScanPlugin" app="scanner" name="ScanPlugin" key-field="guid"/>
  </models>

  <tasks>

    <task xml:id="verify-started-time-null" action="assert-field-value">
      <param name="model">scanner.ScanPlugin</param>
      <param name="row-key">${guid}</param>
      <param name="field">started</param>
      <param name="value">NULL</param>
    </task>

    <task xml:id="verify-finished-time-null" action="assert-field-value">
      <param name="model">scanner.ScanPlugin</param>
      <param name="row-key">${guid}</param>
      <param name="field">finished</param>
      <param name="value">NULL</param>
    </task>

    <task xml:id="update-started-time" action="update-row-timestamp">
      <param name="app">${config.app_name}</param>
      <param name="model">ScanPlugin</param>
      <param name="key-field">guid</param>
      <param name="key-value">${scan_plugin.guid}</param>
      <param name="field-name">started</param>
    </task>

    <task xml:id="create-script" action="template" depends="update-started-time">
      <param name="input">${config.script_template_file}</param>
      <param name="output">${config.script_file}</param>
    </task>

    <task xml:id="run-console" action="spawn" depends="create-script">
      <param name="command-line">${config.exec_file} -s ${config.script_file}</param>
      <param name="shell">True</param>
    </task>

    <task xml:id="delete-script" action="unlink" depends="run-console">
      <param name="path">${config.script_file}</param>
    </task>

    <task xml:id="read-output" action="read-file" depends="run-console">
      <param name="path">${config.output_file}</param>
      <param name="var">output</param>
    </task>

    <task xml:id="store-output" action="set-field" depends="read-output">
      <param name="app">scanner</param>
      <param name="model">ScanPlugin</param>
      <param name="key-field">guid</param>
      <param name="key-value">${scan_plugin.guid}</param>
      <param name="field-name">result</param>
      <param name="field-value">${output}</param>
    </task>

    <task xml:id="delete-output-file" action="unlink" depends="read-output">
      <param name="path">${config.output_file}</param>
    </task>

    <task xml:id="update-finished-timestamp" action="update-row-timestamp" depends="store-output">
      <param name="app">scanner</param>
      <param name="model">ScanPlugin</param>
      <param name="key-field">guid</param>
      <param name="key-value">${scan_plugin.guid}</param>
      <param name="field-name">finished</param>
    </task>

  </tasks>

</plugin>
